<div class="container">
  <div>
    <h1 class="page-header">Beautiful <span>Cities</span></h1>
    <ul class="nav-menu">
      <a routerLink="['/']" routerLinkActive="router-link-active">
        <li>Home</li>
      </a>
      <a routerLink="['/']">
        <li>About</li>
      </a>
      <a routerLink="['/']">
        <li>Blog</li>
      </a>
      <a routerLink="['/']">
        <li>Gallery</li>
      </a>
      <a routerLink="['/']">
        <li>Visit</li>
      </a>
      <a routerLink="['/']">
        <li>Contact</li>
      </a>
    </ul>
    <div class="header-image">
      <h2>Visit Beautiful Cities</h2>
      <p>
        A city is a large human settlement.It can be defined as a permanent and densely settled place with
        administratively defined boundaries whose members work primarily on non-agricultural tasks.<br> Cities
        generally have extensive systems for housing, transportation, sanitation, utilities, land use, and
        communication. Their density facilitates interaction between people.
      </p>
    </div>
  </div>
  <section class="journey-ways">
    <h2>Way to travel <span>India</span></h2>
    <p id="journey-explain"> A city is a large human settlement.It can be defined as a permanent and densely settled
      place with administratively defined boundaries whose members work primarily. Cities
      generally have extensive systems for housing, transportation, sanitation, utilities, land use, and
      communication. Their density facilitates interaction between people.</p>
    <div class="travel-ways">
      <div class="ways-to-travvel">
        <img src="https://i.pinimg.com/originals/a5/dd/dc/a5dddcd57650ff323b969a3cdf16e9ff.png" alt="bus icon">
        <h3>Travel with Bus</h3>
        <p>Good to travel on bus with friends and family</p>
      </div>

      <div class="ways-to-travel">
        <img src="https://image.freepik.com/free-vector/airplane-icon_1325-717.jpg" width="180" height="200"alt="airplane icon">
        <h3>Travel with Airplane</h3>
        <p>Good to travel on bus with friends and family</p>
      </div>

      <div class="ways-to-travel">
        <img src="https://i.pinimg.com/originals/a5/dd/dc/a5dddcd57650ff323b969a3cdf16e9ff.png" alt="car icon">
        <h3>Travel with VVRL Bus</h3>
        <p>Good to travel on bus with friends and family</p>
      </div>

    </div>
  </section>

  <section class="city-images">
    <div class="images-of-city">
      <div class="city-image">
        <img src="/assets/images/citilight1.jpg" alt="img1" width="270" height="220">
        <h1>City example1</h1>
        <p>This is a beautiful city</p>
      </div>

      <div class="city-image">
        <img src="/assets/images/citilight13.jpg" alt="img2" width="270" height="220">
        <h1>City example2</h1>
        <p>This is a beautiful city</p>
      </div>


      <div class="city-image">
        <img src="/assets/images/img1.jpg" alt="img3" width="270" height="220">
        <h1>City example3</h1>
        <p>This is a beautiful city</p>
      </div>


      <div class="city-image">
        <img src="/assets/images/citilight1.jpg" alt="img4" width="270" height="220">
        <h1>City example4</h1>
        <p>This is a beautiful city</p>
      </div>

      <div class="city-image">
        <img src="/assets/images/citilight13.jpg" alt="img5" width="270" height="220">
        <h1>City example5</h1>
        <p>This is a beautiful city</p>
      </div>


      <div class="city-image">
        <img src="/assets/images/img1.jpg" alt="img6" width="270" height="220">
        <h1>City example6</h1>
        <p>This is a beautiful city</p>
      </div>
    </div>
  </section>
  <section class="next">
    <div>
      <a style="cursor: pointer;padding-left:90%" (click)="nextScreen()">NEXT SCREEN</a>
    </div>
  </section>
  <div class="footer">
    <p>&copy; Footer 2020</p>
  </div>
</div>
