<div class="container">
  <div class="headerselection">
    <nav class="sticky">
      <div class="heading-div">
        <a href="project2#home" class="smoothScroll"><img
            src="https://cdn.dribbble.com/users/2407143/screenshots/5850299/digital_bird_logo_1.1.png"
            alt="photpbird"></a>
        <ul class="nav-menu">
          <a href="project2#about" class="smoothScroll">
            <li>About</li>
          </a>
          <a href="project2#portfolio" class="smoothScroll">
            <li>Portfolio</li>
          </a>
          <a href="project2#blog" class="smoothScroll">
            <li>Blog</li>
          </a>
          <a href="project2#contact" class="smoothScroll">
            <li>Contact</li>
          </a>
        </ul>
         <!-- Hamburger Menu -->
         <a class="hamburger-manu">
           <div class="hamburger"></div>
           <div class="hamburger"></div>
           <div class="hamburger"></div>
         </a>
      </div>
    </nav>
  </div>
  <section class="header-img-section  container"></section>
  <section class="about-me container" id="about">
    <h2 class="section-heading">About Me</h2>
    <div class="line"></div>
    <p>
      An About Us page helps your company make a good first impression, and is critical for building customer trust and
      loyalty. An About Us page should make sure to cover basic information about the store and its founders, explain
      the company's purpose and how it differs from the competition, and encourage discussion and interaction. Here are
      some free templates, samples, and example About Us pages to help your ecommerce store stand out from the crowd.

      When it comes to personalizing your online store, nothing is more effective than an About Us page. This is a quick
      summary of your company's history and purpose, and should provide a clear overview of the company's brand story. A
      great About Us page can help tell your brand story, establish customer loyalty, and turn your bland ecommerce
      store into an well-loved brand icon. Most importantly, it will give your customers a reason to shop from your
      brand.
    </p>
    <div class="my-images">
      <div class="old-images">
        <img
          src="https://cdn.mos.cms.futurecdn.net/srKmv4emPjaeE364Lym7SK.jpg"
          alt="old-images" />
        <h3>old photo</h3>
      </div>
      <div class="old-images">
        <img
          src="https://cdn.mos.cms.futurecdn.net/aU5GNkCJ7cNZWPGoMXGUiA.jpg"
           alt="Me in action" />
        <h3>ME in action</h3>
      </div>
      <div class="old-images">
        <img src="https://cdn.pixabay.com/photo/2017/08/07/01/41/camera-2598507__340.jpg"
         alt="my profile image" />
        <h3>My profile image</h3>
      </div>

    </div>
  </section>

  <section class="portfolio container" id="portfolio">
    <h2 class="section-heading">Portfolio</h2>
    <div class="line"></div>
    <div class="portfolio-items container">
      <img src="https://cdn.mos.cms.futurecdn.net/G4ESXCYik97nN7yhYuCuLJ.png" alt="portfolio image1">

      <img src="https://www.cinema5d.com/wp-content/uploads/2019/11/x-t3_main-1-640x360.jpg" alt="portfolio image2">

      <img src="https://1.img-dpreview.com/files/p/E~TS590x0~articles/5559775087/Pixels-matter.jpeg"
        alt="portfolio image3">

      <img
        src="https://cdn.pixabay.com/photo/2018/11/29/20/15/canon-3846423_960_720.jpg"  alt="portfolio image4">

      <img src="https://icdn2.digitaltrends.com/image/digitaltrends/fujifilm-x-t4-review-dm-2.jpg" alt="portfolio image5">


      <img src="https://wallpaperose.com/wp-content/uploads/2013/11/Old-Camera-Pointing-at-a-Cupcake.jpg" alt="portfolio image6">


    </div>
  </section>

  <section class="blog container" id="blog">
    <h2 class="section-heading">My first story</h2>
    <div class="line"></div>
    <div class="blog-text">
      <img src="https://images.agoramedia.com/wte3.0/gcms/Birth-Stories-when-your-best-friend-delivers-your-baby-722x406.jpg" alt="my first story">
      <p> They appeared in a music event sponsored by Sanei Shobo Co.which publishes the street fashion magazine Book (Ohlie), and performed in public for the first time.<br><br> In November 2011, they appeared in a music event sponsored by the street fashion brand Subciety (Sub-society).
          On April 4, 2012, eight months after the formation, they released their first full album, self-titled My First Story, that by 2013 had already sold 20,000 copies.<br><br> This work was the first release from the record label Intact Records (established by Core Trust which operates Subciety).
          The music video of the lead song "Second Limit" was directed by Maxilla, a video production team known for coldrain, Crossfaith, and SiM.The band's first independent show,<br><br> held in June sold out immediately. On August 19, 2012, they appeared at the Summer Sonic Festival.</p>
    </div>
  </section>

  <section class="contact container" id="contact">
    <h2 class="section-header" id="jquery-test">Contact Me</h2>
    <div class="line"></div>
    <form>
      <label for="name">Your name</label>
      <input id="name" type="text">
      <label for="email">Email</label>
      <input id="email" type="email">
      <label for="message">Your message</label>
      <textarea id="message" name="message" rows="5"></textarea>
      <button>Submit</button>
    </form>
  </section>
  <div class="footer">
    <p>&copy; Footer 2020</p>
  </div>
</div>
